/* Grid Flex */
.grid-flex {
	list-style: none;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-item: center;
	justify-content: center;
	padding: 0;
}
.grid-flex .flex-item {
	flex: 1 1 auto;
	background: #fff;
}

/* Grid Column */
.grid-columns {
	display: column;
	text-align: center;
	max-width: 1000px;
	margin: auto;
	padding: 0 10px;
	text-transform: capitalize;
}

@media (max-width: 600px) {
	.grid-columns {
		column-count: 1 !important;
	}
}

.grid-columns.columns-2 {
	column-count: 2;
}